* {
    margin: 0;
    padding: 0;
}

li,
a {

    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 80px;
    box-sizing: border-box;
    align-self: center;
    padding: 20px;
    background-color: black;
    height: 80px;
    width: 50%;
}

.navlinks {
    display:flex;
    list-style: none;
    font-size: 40px;
    transition: all .3s ease 0s;
    position: absolute;
    margin-left: 20px;

}
h6{
    position: relative;
    bottom: 130px;
    left: 135px;
    font-size: 20px;

}
a:link{
    color:blue;
    font-display: underline;
}
#Login {
    display: flex;
    font-size: 20px;
   
    color: white;
    background-color: blue;
}

#counter{
    height:30px;
    width: 80px;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
}

#counter2{
    height:30px;
    width: 80px;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
}
.Searchbar{
  margin-left: 250px;
    display:flex;
}

.canvas {
    position: absolute;
    left: 80px;
    background-color: white;
    height: 200px;
    width: 400px;
    border-style: double;
    border-width: 5px;
}

.ninjas {
    font-style: italic;
    position: relative;
    left: 60px;
    bottom: 23px;
    font-size: 20px;
}

.canvas2 {
    position: absolute;
    top: 220px;
    background-color: white;
    height: 200px;
    width: 400px;
    border-style: double;
    border-width: 5px;
    left:-5px;
}

.canvas3 {
    position: absolute;
    left: 520px;
    top: -5px;
    background-color: white;
    height: 200px;
    width: 300px;
    border-style: double;
    border-width: 5px;
}

#adddef {
    margin: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    width: 130px;
    background-color: green;
    border-style: ridge;
    text-align: center;
}